<div class="banner1">
  <h1>Save any kind of movies in your lists</h1>
</div>

<div class="con">
  <h2>My lists: </h2>
  <button type="button" class="btn btn-success float-right"><%= link_to "Create a movie list", new_list_path, :class => "button" %></button>
</div>
  <div class="container">
    <div class="row">
    <% @lists.each do |list| %>
    <div class="col-6">
      <div class="card">
        <div class="col"><%=  link_to list.name, list_path(list)%></div>
      </div>
    </div>
    <% end %>
  </div>
