// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "list/show";

.card-image {
  object-fit: cover;
  object-position: center;
}

.card {
  margin: 20px;
}

.banner1 {
  background-image: url("https://res.cloudinary.com/dk5b5onpr/image/upload/v1636725868/xotwnfgpwrzegbgdkkit.png");
  padding: 150px;
  text-align: center;
  color: white;
  margin-bottom: 40px;
  background-size: cover;
  position: relative;
}

.button {
  color: white;
}

h1 {
  font-family: 'Prompt', sans-serif;
}

h2 {
  font-family: 'Prompt', sans-serif;
}

h3 {
  font-family: 'Prompt', sans-serif;
}

h4 {
  font-family: 'Prompt', sans-serif;
}

h5 {
  font-family: 'Prompt', sans-serif;
  color: black;
}

p {
  font-family: 'Prompt', sans-serif;
}

.con {
  margin: 100px;
  margin-top: 40px;
}

.button:hover {
  color: aliceblue;
  text-decoration: none;
}

.link {
  color: red;
  text-decoration: none;
}

.link:hover {
  color: red;
}
